@import "tailwindcss";

* {
  padding: 0;
}

@font-face {
  font-family: "Pretendard";
  src: url("/public/fonts/PretendardVariable.woff2") format("woff2-variations");
  font-weight: 45 920;
  font-display: swap;
}

body {
  font-family: "Pretendard";
}
