@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
    format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff2");
  font-display: swap;
}
